alias sudoedit='sudo -E vim'
alias bdf='btrfs filesystem df ~/files'
alias ls='ls --group-directories-first --color=always'
alias lsd='ls -d */'
alias :q='exit'
alias tmux='tmux -2'
alias rot13="tr '[A-Za-z]' '[N-ZA-Mn-za-m]'"
alias hask='clear; ghci'
alias hhask='cd ~/programs/haskell/; clear; ghci'
alias xmds='cd ~/.xmonad; clear; ghci xmonad.hs'
alias tray='trayer --widthtype pixel --width 200 --heighttype pixel --height 30 --expand false --SetDockType false & nm-applet &> /dev/null &'
alias ktray='pkill nm-applet & pkill trayer'
alias pse='ps aux | grep'
alias vbm='VBoxManage'
alias ipy='ipython3'
alias py='python3 -c'
alias py2='python2 -c'
alias gdb='gdb -q'
alias server='python3 -m http.server 8080'
alias addon-sdk="cd /opt/addon-sdk && source bin/activate; cd -"
alias hman='man --html=firefox-nightly'
alias vi='vim'
alias nano='vim'
alias cdd='cd ~; cd'
alias ..='cd ..'
alias ...='..; ..'
alias ....='...; ..'
alias .....='...; ...'
alias grep='grep --color=auto'
alias mkdir='mkdir -p -v'
alias ping='ping -c 5'
alias dmesg='dmesg -HL'
alias rm='rm -I'  
alias yum='sudo yum'
alias yumin='sudo yum install'
alias aptin='sudo aptitude install'
alias apt='sudo aptitude'
alias aptup='sudo aptitude update'
alias aptupg='sudo aptitude upgrade'
alias pacman='sudo pacman'
alias pacin='sudo pacman -S'
alias pacupg='sudo pacman -Syu'
alias pacins='sudo pacman -U'
alias pacre='sudo pacman -R'
alias pacse='sudo pacman -Ss | grep'
