# -*- mode: sh -*-
#vim: filetype=bash
source ~/.config/.aliasesextras
alias sudoedit='sudo -E vim'
alias bdf='btrfs filesystem df ~/files'
alias ls='ls --group-directories-first --color=always'
alias ll='ls -al'
alias la='ls -a'
alias maxima='rlwrap maxima'
alias ev='xdotool key F2 && gvim --servername notepad --remote-tab '
alias lsd='ls -d */'
alias :q='exit'
alias lisp='rlwrap ccl'
alias less='less -asix4'
alias racket='rlwrap racket'
alias tmux='tmux -2'
alias clisp='clear; clisp --silent'
alias rot13="tr '[A-Za-z]' '[N-ZA-Mn-za-m]'"
alias hask='clear; ghci'
alias haskb='clear; ghci -no-user-package-db -package-db .cabal-sandbox/x86_64-linux-ghc-7.8.3-packages.conf.d'
alias xmds='cd ~/.xmonad; clear; ghci xmonad.hs'
alias tray='trayer --widthtype pixel --width 200 --heighttype pixel --height 30 --expand false --SetDockType false & nm-applet &> /dev/null &'
alias ktray='pkill nm-applet & pkill trayer'
alias pse='ps aux | grep -i'
alias vbm='VBoxManage'
alias time='\time -p '
alias timer="\time -p -f '%es %M KB'"
alias ipy='ipython3'
alias pti='ptipython --vi'
alias py='python3 -c'
alias py2='python2 -c'
alias gdb='gdb -q'
alias pyserv='python3 -m http.server 8000'
alias hman='man --html=firefox-nightly'
alias vi='vim'
alias nano='vim'
alias cdd='cd ~; cd'
alias ..='cd ..'
alias ...='..; ..'
alias ....='...; ..'
alias .....='...; ...'
alias grep='grep --color=auto'
alias mkdir='mkdir -p -v'
alias ping='ping -c 5'
alias dmesg='dmesg -HL'
alias rm='rm -I'  
alias yum='sudo yum'
alias yumin='sudo yum install'
alias aptin='sudo aptitude install'
alias apt='sudo aptitude'
alias aptup='sudo aptitude update'
alias aptupg='sudo aptitude upgrade'
alias pacman='sudo pacman'
alias pacin='sudo pacman -S'
alias pacupg='sudo pacman -Syu'
alias pacins='sudo pacman -U'
alias pacre='sudo pacman -R'
alias pacse='sudo pacman -Ss'
alias pacnew='sudo pacman -Ss | grep -v installed | grep -i'
